force-app/main/default/flows/Auto_follow_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Construct_Entity_Subscription</name>
        <label>Construct Entity Subscription</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>varEntitySubscription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEntitySubscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_preferences</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_follow_unfollow_opportunity_exists</name>
        <label>Does follow/unfollow opportunity exists</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_opportunity_follow_unfollow_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_preferences</targetReference>
            </connector>
            <label>Is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Open</name>
        <label>Is Opportunity Open</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_opportunity_follow_unfollow_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Auto follow records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto follow records</label>
    <loops>
        <name>Loop_through_preferences</name>
        <label>Loop through preferences</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_opportunity_follow_unfollow_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Construct_Entity_Subscription</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_opportunity_follow_unfollow_records</name>
        <label>Get opportunity follow/unfollow records</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_follow_unfollow_opportunity_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Follow_Unfollow_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Opportunity_Open</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varEntitySubscription</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EntitySubscription</objectType>
    </variables>
</Flow>
