force-app/main/default/flows/Copy_Account_Team_Members_To_Opportunity_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_opportunity_team</name>
        <label>Assign opportunity team</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityTeamRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityTeamRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_account_team_member_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Opportunity_Teams</name>
        <label>Create Opportunity Teams</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>OpportunityTeamRecord.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityTeamRecord.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_account_team_member_records.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityTeamRecord.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_account_team_member_records.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityTeamRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_opportunity_team</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Copy Account Team Members To Opportunity Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Account Team Members To Opportunity Team</label>
    <loops>
        <name>Iterate_through_account_team_member_records</name>
        <label>Iterate through account team member records</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Account_Team_Member_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Opportunity_Teams</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Opportunity_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Opportunity_Team_Members</name>
        <label>Insert Opportunity Team Members</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>varOpportunityTeamRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Team_Member_Records</name>
        <label>Get Account Team Member Records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_account_team_member_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Team_Member_Records</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityTeamRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varOpportunityTeamRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
