force-app/main/default/flows/Schedule_Flow_Assign_unassigned_contact_to_dummy_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Scheduled_Flow_Complete_Mail</name>
        <label>Scheduled Flow Complete Mail</label>
        <locationX>176</locationX>
        <locationY>1092</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Scheduled Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>gokulmpillai3567@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow ran successfully</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_contact_to_the_dummy_account</name>
        <label>Assign contact to the dummy account</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>Iterate_through_contact_records.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Dummy_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_contact_with_dummy_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_contact_with_dummy_account</name>
        <label>Assign contact with dummy account</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>varContactUpdatedRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_contact_records</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Schedule Flow: Assign unassigned contact to dummy account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Flow: Assign unassigned contact to dummy account</label>
    <loops>
        <name>Iterate_through_contact_records</name>
        <label>Iterate through contact records</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_contact_to_the_dummy_account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_contact_with_dummy_account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Dummy_Account_Record</name>
        <label>Create Dummy Account Record</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Get_contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Dummy Account </stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_contacts</name>
        <label>Get contacts</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_contact_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contact_with_dummy_account</name>
        <label>Update contact with dummy account</label>
        <locationX>176</locationX>
        <locationY>972</locationY>
        <connector>
            <targetReference>Scheduled_Flow_Complete_Mail</targetReference>
        </connector>
        <inputReference>varContactUpdatedRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Dummy_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2022-05-14</startDate>
            <startTime>06:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varContactUpdatedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
